<!-- 4.Difference between React and JavaScript? -->
 <!-- Ans:| React                                              | JavaScript                                      
| -----------------------------------------------| ----------------------------------------|
| React is a JavaScript library                  | JavaScript is a programming language        |
| Used mainly to build user interfaces (UI)      | Used to add logic and behavior to web pages |
| Component-based approach                       | Not component-based by default              |
| Uses Virtual DOM for fast updates              | Uses Real DOM directly                      |
| Mostly used for Single Page Applications (SPA) | Used for web, mobile, server-side, and more |
| Depends on JavaScript to work                  | Works independently                         | -->
